In [7]:
from DB_mapping import engine
import pandas as pd

cnx = engine.connect()
df = pd.read_sql_table('stacje_pomiarowe', cnx)
df

2023-03-04 16:27:39,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-04 16:27:39,032 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stacje_pomiarowe")
2023-03-04 16:27:39,036 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,041 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("stacje_pomiarowe")
2023-03-04 16:27:39,045 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,049 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:27:39,052 INFO sqlalchemy.engine.Engine [raw sql] ('stacje_pomiarowe',)
2023-03-04 16:27:39,054 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("stacje_pomiarowe")
2023-03-04 16:27:39,056 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,059 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("stacje_pomiarowe")
2023-03-04 16:27:39,061 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,064 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:27:39,066 INFO sqlalchemy.engine.Engine [raw sql] ('stacje_pomiarowe',)
2023-03-04 16:27:39,069 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stacje_pomiarowe")
2023-03-04 16:27:39,071 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,074 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stacje_pomiarowe")
2023-03-04 16:27:39,076 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,078 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stacje_pomiarowe")
2023-03-04 16:27:39,080 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,093 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stacje_pomiarowe")
2023-03-04 16:27:39,096 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,098 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stacje_pomiarowe")
2023-03-04 16:27:39,101 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,103 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stacje_pomiarowe")
2023-03-04 16:27:39,105 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:27:39,112 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:27:39,115 INFO sqlalchemy.engine.Engine [raw sql] ('stacje_pomiarowe',)
2023-03-04 16:27:39,123 INFO sqlalchemy.engine.Engine SELECT stacje_pomiarowe.station, stacje_pomiarowe."stationName", stacje_pomiarowe."gegrLat", stacje_pomiarowe."gegrLon", stacje_pomiarowe.loc_id, stacje_pomiarowe."addressStreet", stacje_pomiarowe.city_name, stacje_pomiarowe."communeName", stacje_pomiarowe."districtName", stacje_pomiarowe."provinceName"
FROM stacje_pomiarowe
2023-03-04 16:27:39,126 INFO sqlalchemy.engine.Engine [generated in 0.00282s] ()

,station,stationName,gegrLat,gegrLon,loc_id,addressStreet,city_name,communeName,districtName,provinceName
0,11,Czerniawa,50,15,142,ul. Strażacka 7,Czerniawa,Świeradów-Zdrój,lubański,DOLNOŚLĄSKIE
1,16,"Dzierżoniów, ul. Piłsudskiego",50,16,198,ul. Piłsudskiego 26,Dzierżoniów,Dzierżoniów,dzierżoniowski,DOLNOŚLĄSKIE
2,38,"Kłodzko, ul. Szkolna",50,16,368,ul. Szkolna 8,Kłodzko,Kłodzko,kłodzki,DOLNOŚLĄSKIE
3,52,"Legnica, al. Rzeczypospolitej",51,16,453,al. Rzeczypospolitej 10/12,Legnica,Legnica,Legnica,DOLNOŚLĄSKIE
4,70,"Oława, ul. Żołnierzy Armii Krajowej",50,17,642,ul. Żołnierzy AK 9,Oława,Oława,oławski,DOLNOŚLĄSKIE
...,...,...,...,...,...,...,...,...,...,...
203,17160,"Pułtusk, ul. Adama Mickiewicza 36",52,21,765,Mickiewicza,Pułtusk,Pułtusk,pułtuski,MAZOWIECKIE
204,17179,"Rzeszów, ul. Starzyńskiego",50,21,810,Starzyńskiego 17,Rzeszów,Rzeszów,Rzeszów,PODKARPACKIE
205,17182,"Kętrzyn, ul. Wojska Polskiego",54,21,357,Wojska Polskiego 9,Kętrzyn,Kętrzyn,kętrzyński,WARMIŃSKO-MAZURSKIE
206,17438,"Kościan, ul. Maya",52,16,404,Maya,Kościan,Kościan,kościański,WIELKOPOLSKIE
207,17478,Polanica-Zdrój al. Zwycięzców,50,16,717,al. Zwycięzców,Polanica-Zdrój,Polanica-Zdrój,kłodzki,DOLNOŚLĄSKIE

In [5]:
df.dtypes

id             int64
sensor_id      int64
key           object
date          object
value        float64
dtype: object

In [8]:
from DB_mapping import engine
import pandas as pd

cnx = engine.connect()
df2 = pd.read_sql_table('pomiary', cnx)
df2

2023-03-04 16:30:27,072 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-04 16:30:27,075 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pomiary")
2023-03-04 16:30:27,077 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,080 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("pomiary")
2023-03-04 16:30:27,083 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,094 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,102 INFO sqlalchemy.engine.Engine [raw sql] ('pomiary',)
2023-03-04 16:30:27,111 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("pomiary")
2023-03-04 16:30:27,113 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,120 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,123 INFO sqlalchemy.engine.Engine [raw sql] ('pomiary',)
2023-03-04 16:30:27,126 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("pomiary")
2023-03-04 16:30:27,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,134 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("pomiary")
2023-03-04 16:30:27,139 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,142 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pomiary")
2023-03-04 16:30:27,146 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,149 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("pomiary")
2023-03-04 16:30:27,152 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,155 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("pomiary")
2023-03-04 16:30:27,158 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,161 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pomiary")
2023-03-04 16:30:27,163 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,166 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,170 INFO sqlalchemy.engine.Engine [raw sql] ('pomiary',)
2023-03-04 16:30:27,175 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("stanowiska_pomiarowe")
2023-03-04 16:30:27,177 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,181 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,183 INFO sqlalchemy.engine.Engine [raw sql] ('stanowiska_pomiarowe',)
2023-03-04 16:30:27,187 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("stanowiska_pomiarowe")
2023-03-04 16:30:27,190 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,193 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,195 INFO sqlalchemy.engine.Engine [raw sql] ('stanowiska_pomiarowe',)
2023-03-04 16:30:27,200 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stanowiska_pomiarowe")
2023-03-04 16:30:27,203 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,206 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stanowiska_pomiarowe")
2023-03-04 16:30:27,210 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,213 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stanowiska_pomiarowe")
2023-03-04 16:30:27,216 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,219 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stanowiska_pomiarowe")
2023-03-04 16:30:27,220 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,224 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stanowiska_pomiarowe")
2023-03-04 16:30:27,227 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,228 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stanowiska_pomiarowe")
2023-03-04 16:30:27,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,233 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,234 INFO sqlalchemy.engine.Engine [raw sql] ('stanowiska_pomiarowe',)
2023-03-04 16:30:27,239 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("stacje_pomiarowe")
2023-03-04 16:30:27,241 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,245 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,246 INFO sqlalchemy.engine.Engine [raw sql] ('stacje_pomiarowe',)
2023-03-04 16:30:27,249 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("stacje_pomiarowe")
2023-03-04 16:30:27,250 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,253 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("stacje_pomiarowe")
2023-03-04 16:30:27,254 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,256 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,258 INFO sqlalchemy.engine.Engine [raw sql] ('stacje_pomiarowe',)
2023-03-04 16:30:27,269 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stacje_pomiarowe")
2023-03-04 16:30:27,281 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,285 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stacje_pomiarowe")
2023-03-04 16:30:27,288 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,292 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stacje_pomiarowe")
2023-03-04 16:30:27,299 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,306 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stacje_pomiarowe")
2023-03-04 16:30:27,309 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,313 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stacje_pomiarowe")
2023-03-04 16:30:27,316 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,318 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stacje_pomiarowe")
2023-03-04 16:30:27,320 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-04 16:30:27,324 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-03-04 16:30:27,327 INFO sqlalchemy.engine.Engine [raw sql] ('stacje_pomiarowe',)
2023-03-04 16:30:27,336 INFO sqlalchemy.engine.Engine SELECT pomiary.id, pomiary.sensor_id, pomiary."key", pomiary.date, pomiary.value
FROM pomiary
2023-03-04 16:30:27,338 INFO sqlalchemy.engine.Engine [generated in 0.00245s] ()

          id  sensor_id   key                 date     value
0          1        642   NO2  2023-03-04 12:00:00       NaN
1          2        642   NO2  2023-03-04 11:00:00  15.54720
2          3        642   NO2  2023-03-04 10:00:00  15.11220
3          4        642   NO2  2023-03-04 09:00:00   7.82752
4          5        642   NO2  2023-03-04 08:00:00   7.04094
...      ...        ...   ...                  ...       ...
42475  42476      27882  PM10  2023-03-02 05:00:00   3.38112
42476  42477      27882  PM10  2023-03-02 04:00:00   3.54731
42477  42478      27882  PM10  2023-03-02 03:00:00   3.61654
42478  42479      27882  PM10  2023-03-02 02:00:00   3.87858
42479  42480      27882  PM10  2023-03-02 01:00:00   4.57394

[42480 rows x 5 columns]

In [9]:
df.dtypes

station           int64
stationName      object
gegrLat           int64
gegrLon           int64
loc_id            int64
addressStreet    object
city_name        object
communeName      object
districtName     object
provinceName     object
dtype: object